In [1]:
import pandas as pd

In [2]:
#set path for csv file
csvpath = "Resources/drugPoisoningDeaths.csv"
#import the purchase_data.csv file as a DataFrame
poisoningDeathsDF = pd.read_csv(csvpath)

In [3]:
poisoningDeathsDF.head()

,Fips,Location,Drug Type,TimeFrame,Data Type,Data,MOE
0,1,Alabama,Cocaine,2000,"Rate per 100,000",NaN,NaN
1,1,Alabama,Heroin,2000,"Rate per 100,000",NaN,NaN
2,1,Alabama,Natural and semi-synthetic opioids,2000,"Rate per 100,000",0.59776,0.230279
3,1,Alabama,Psychostimulants,2000,"Rate per 100,000",NaN,NaN
4,1,Alabama,Synthetic opioids,2000,"Rate per 100,000",NaN,0.144283

In [4]:
#set path for csv file
csvpath = "Resources/opioidPrescriptionSales.csv"
#import the purchase_data.csv file as a DataFrame
prescriptionSalesDF = pd.read_csv(csvpath)

In [5]:
prescriptionSalesDF.head()

,Fips,Location,Oxycodone / Hydrocodone,TimeFrame,Data Type,Data,MOE
0,1,Alabama,Oxycodone,2000,"Rate per 100,000",6.74399,NaN
1,1,Alabama,Oxycodone,2001,"Rate per 100,000",7.79399,NaN
2,1,Alabama,Oxycodone,2002,"Rate per 100,000",7.80123,NaN
3,1,Alabama,Oxycodone,2003,"Rate per 100,000",9.26128,NaN
4,1,Alabama,Oxycodone,2004,"Rate per 100,000",9.10411,NaN

In [6]:
sqlite> .mode csv
sqlite> .import test.csv foo

SyntaxError: invalid syntax (<ipython-input-6-6d7d6094ca02>, line 1)

In [36]:
df =poisoningDeathsDF.merge(prescriptionSalesDF, how='left',on=['Location','TimeFrame'])\
        .drop(columns=['Fips_x','Fips_y','MOE_x','MOE_y','Data Type_x','Data Type_y']).dropna()\
        .rename(columns={'TimeFrame':'Year','Location':'State','Data_x':'Deaths Rate Per 100K','Data_y':'Drug Sold per 100K'})
            
grpDf = df.groupby(['Year','State','Oxycodone / Hydrocodone']).max()

grpDf.to_csv('Grouped_by_Year_State_and_Drug.csv')